<div id="snacks-wrapper" class="bg-darkorange rounded p-15">
    <div >
        <mat-accordion >
            <mat-expansion-panel *ngFor="let item of chipsList">
                
                <mat-expansion-panel-header>
                    <div class="chips-panel-header">
                        <div>{{item.name}}</div>
                        <div>{{item.brand}}</div>
                        <div><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></div>
                    </div>
                </mat-expansion-panel-header>
                
                <div class="chips-panel-content">
                    <div class="chips-panel-content-image">
                        <img mat-card-image src="https://testagram.se/app/uploads/2018/06/Chips.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <div class="chips-panel-content-details">
                        <div>
                            Positiva kommentarer
                                
                        </div>
                        <div>
                            Negativa kommentarer
                        </div>
                        <div>
                            Näringsvärde per 100g
                            <table>                                
                                <thead>
                                    <tr>
                                        <td>
                                            Energi                 
                                        </td>
                                        <td>
                                            Fett                 
                                        </td>
                                        <td>
                                            Kolhydrater
                                        </td>
                                        <td>
                                            Protein
                                        </td>
                                        <td>
                                            Salt
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{item.nutritiveValue.energy}}  
                                        </td>
                                        <td>
                                            {{item.nutritiveValue.carbohydrates}}                   
                                        </td>
                                        <td>
                                            {{item.nutritiveValue.fat}}  
                                        </td>
                                        <td>
                                            {{item.nutritiveValue.protein}}  
                                        </td>
                                        <td>
                                            {{item.nutritiveValue.salt}}  
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                        <div>
                            options
                        </div>
                    </div>
                </div>
                
            </mat-expansion-panel>  
        </mat-accordion>       
    </div>
    <!-- <div class="chips-card" *ngFor="let item of chipsList">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div> -->
</div>