<div id="page-navbar">
  <app-navbar></app-navbar>
</div>
<div id="page-content">
  <div id="page-inner" class="rounded">
    <router-outlet></router-outlet>
  </div>
</div>
<!--{"web":{"client_id":"922929471642-l0a1nvsmqvrdj8pa0krtineuc6m2mqma.apps.googleusercontent.com","project_id":"chipskollen-1540626471895","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://www.googleapis.com/oauth2/v3/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"mfKpt0g1RAmK86LW6Nt7A62-","javascript_origins":["http://localhost:44321"]}}-->
